.DS_Store
.classpath
.project
.settings
.springBeans
.factorypath
.checkstyle
.idea
/out/
target
*.iml
Logs
logs
*.ipr
*.iws
*.mdmp
*.dump
Berksfile.lock
Gemfile.lock
.chef
.kitchen
.vagrant
*.swp
*.log
